body {
    margin: 0;
    padding: 0px;
}

header {
    background-color: darkcyan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-stuff {
    text-align: center;
}

.feeds {
    margin: 20px;
}