<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yeet Hay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <header>
        <h1 class="head" style="flex-basis: 80%">Horse Feeder</h1>
        <nav style="flex-basis: 20%"><p><a href="/check_vitamin_dose">Horse Stats</a></p></nav>
    </header>
    <h1>hi type your stuff in</h1> 
    <form class="form-stuff" action="/handle_request">
        Unique Code:
        <input type="text" name="code"> <br>
        <input type="text" name="1" class="feeds"> feed 1 <br>
        <input type="text" name="2" class="feeds"> feed 2 <br>
        <input type="text" name="3" class="feeds"> feed 3 <br>
        <input type="text" name="4" class="feeds"> feed 4 <br>
        <input type="text" name="5" class="feeds"> feed 5 <br>
        <input type="submit" value="Submit" name="new_horse">
        <input type="submit" value="Get Existing Horse Info" name="get_info">
    </form>
    <form action=""></form>
</body>
</html>