<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <h1>Horse Feeder</h1>
    </header>
    <h1>hi type your stuff in</h1> 
    <form class="form-stuff" action="/new_horse">
        Unique Code:
        <input type="text" name="code"> <br>
        <input type="checkbox" name="1" id="feeds"> feed 1 <br>
        <input type="checkbox" name="2" id="feeds"> feed 2 <br>
        <input type="checkbox" name="3" id="feeds"> feed 3 <br>
        <input type="checkbox" name="4" id="feeds"> feed 4 <br>
        <input type="checkbox" name="5" id="feeds"> feed 5 <br>
    </form>
</body>
</html>